<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <context:component-scan base-package="id.co.pegadaian.training.spring"/>
    
<!--    KoneksiDatabase koneksiDatabase = new KoneksiDatabase();
    koneksiDatabase.setDbDriver("com.mysql.jdbc.Driver");
    koneksiDatabase.setDbUrl("jdbc:mysql://localhost/latihan_java");
    koneksiDatabase.setDbUsername("root");
    koneksiDatabase.setDbPassword("admin");-->
    

    <bean id="koneksiDatabaseBean" class="id.co.pegadaian.training.spring.ioc.KoneksiDatabase">   
        <property name="dbDriver" value="com.mysql.jdbc.Driver"/>
        <property name="dbUrl" value="jdbc:mysql://localhost/latihan_java"/>
        <property name="dbUsername" value="root"/>
        <property name="dbPassword" value="admin"/>
    </bean>
    
    <!--NasabahDao nasabahDao = new NasabahDao();-->
    <!--nasabahDao.setKonseksiDatabase = koneksiDatabase;-->
   
    <bean id="nasabahDao" class="id.co.pegadaian.training.spring.ioc.NasabahDao">
        <property name="koneksiDatabase" ref="koneksiDatabaseBean"/>
    </bean>
    
    <bean id="daftarMethod" class="org.springframework.aop.support.NameMatchMethodPointcut">
        <property name="mappedNames" value="connect,disconnect"/>
    </bean>
    
    <bean id="customAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="pointcut" ref="daftarMethod" />
        <property name="advice" ref="cekPermission"/>
    </bean>
    
    <bean id="koneksiDatabaseAop" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="koneksiDatabaseBean" />
        <property name="interceptorNames">
            <list>
                <!--<value>cekPermission</value>-->
                <value>customAdvisor</value>
                <value>auditLog</value>
            </list>
        </property>
    </bean>
    
</beans>